<h3><%= @user.username %>'s Profile </h3>

<h5>Hosting:</h5>
<ul>
    <% if @user.events.size == 0 %>
        <p>This user has no events.</p>
    <% else %>
        <% @user.events.each do |event| %>
            <li><%= link_to "#{event.title}", event %></li>
        <% end %>
    <% end %>
</ul>

<hr>


<h6>Attending upcoming events:</h6>
<ul>
    <!-- You can use queries instead of relying on if-statements! -->
    <% @user.attended_events.where('date > ?', Time.now).each do |event| %>
        <li><%= link_to "#{event.title}", event %></li>
    <% end %>
</ul>

<hr>

<h6>Past Events Attended:</h6>
<ul>
    <% @user.attended_events.where('date < ?', Time.now).each do |event| %>
        <li><%= link_to "#{event.title}", event %></li>
    <% end %>
</ul>

<%= link_to "Back", root_path %>