<h1><%= @event.title %></h1>
<h4>Creator: <%= link_to "#{@event.creator.username}", user_path(@event.creator) %></h4>

<p>Time: <%= @event.date %></p>
<p>Place: <%= @event.location %></p>
<p><%= @event.description %></p>

<!-- Note: using path helpers allows you to pass params to the controller/method being called -->
<%= link_to "Attend", event_attendees_path(event_id: @event.id), method: :post, data: {confirm: "Do you want to attend this event?"} %>
<%= link_to "Back", root_path %>

<hr>

<p>Attendees:</p>
<ul>
    <% @event_attendees.each do |ea| %>
        <% attendee = User.find(ea.event_attendee_id) %>
        <li><%= link_to "#{attendee.username}", attendee %></li>
    <% end %>
</ul>